/* text-area css */
.profile {
  margin-bottom: 25px;
  text-align: center;
}

.profile img {
  border-radius: 100%;
  border: solid;
}

.text-input {
  width: 75%;
  padding: 5px;
  border-width: 2px;
  font-size: 14px;
  border-radius: 4px;
}
/* single content css */
.single-content:first-of-type {
  margin-top: 0;
}

.single-content:last-of-type {
  border-bottom: none;
}

.single-content {
  position: relative;
  display: block;
  padding-left: 50px;
  border-bottom: solid 1px #e6ecf0;
  margin-top: 20px;
  padding-bottom: 20px;
}

.single-content img {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #999;
  top: 0;
  border-radius: 100%;
}

.single-content h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.single-content p {
  margin: 0;
}


.single-content button {
  border: none;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
